* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow";
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 13vh;
}
header .logo {
  padding: 2px 2px 2px 2px;
}
header .logo img {
  width: 95%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main .jumbotron {
  display: flex;
  background-color: white;
}
main .jumbotron .sobrenos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 5% 10%;
  gap: 2rem;
}
main .jumbotron .sobrenos h1 {
  font-size: 3em  ;
}
main .jumbotron .sobrenos p {
  text-align: justify;
  font-size: 1.5em;
}
main .jumbotron .sobrenosimg {
  display: flex;
  width: 50%;
}
main .jumbotron .sobrenosimg .mercado {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .jumbotron .sobrenosimg .mercado img {
  width: 90%;
}
main .jumbotron .sobrenosimg img {
  animation: computador 5s infinite;
}
@keyframes computador {
  from { opacity: 0; }
  to   { opacity: 1; }
}
footer {
  display: flex;
  padding-left: 3%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
  height: 28.5vh;
  
  background-color: red;
}
footer .logoecontato {
  display: flex;
  width: 37%;
}
footer .endereco {
  display: flex;
  color: #E4E3DF;
  font-size: 15px;
  padding-left: 3%;
}
footer .contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 80%;
}
footer .contatos .whatsapp img, .email img {
  display: flex;
  width: 30px;
}
@media (max-width: 480px) {
  .jumbotron {
    flex-direction: column;
    align-items: center; 
  }
  main .jumbotron .sobrenos {
    padding: 3% 1%;
  }
  main .jumbotron .sobrenos h1 {
    font-size: 2em  ;
  }
  .sobrenosimg {
    justify-content: center;
    padding: 20px 5px;
  }
  main .jumbotron .sobrenosimg .mercado img {
    width: 100%;
  }
  footer .logoecontato {
    flex-direction: column;
    width: 90%;
  }
  footer .logoecontato .logo {
    width: 50%;
    height: 30%;
  }
  footer .logoecontato .logo img {
    width: 60%;
  }
  footer .endereco {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  footer .logoecontato {
    flex-direction: column;
    width: 90%;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  
}