<footer>
  <div class="logo-footer">
    <img src="/images/img-footer/logo1.jpg" alt="images logo">
    <p>"Sua necessidade,<br> nosso compromisso!"</p>
    <div class="media-social">
      <img src="/images/img-footer/facebook-square-brands 1.png" alt="facebook">
      <img src="/images/img-footer/whatsapp-square-brands 1.png" alt="whatsapp">
      <img src="/images/img-footer/instagram-brands (1) 1.png" alt="instagram">
    </div>
  </div>
  <div class="lista">
    <nav>
      <h4>Institucional</h4>
        <ul>
            <li>
              <a href="/sobre">Sobre nós</a>
            </li>
            <li>
              <a href="">Suporte</a>
            </li>
            <li>
              <a href="/cadastrar">Cadastrar produto</a>
            </li>
            <li>
              <a href="">Política de Privacidade</a>
            </li>
            
        </ul>
      </nav>
    </div>
  <div class="lista">
    <nav>
      <h4>Categorias</h4>
      <ul>
        <li>
          <a href="">Alimentos</a>
        </li>
        <li>
          <a href="/paginaprodutos.html">Produtos de limpeza</a>
        </li>
        <li>
          <a href="">Bebidas</a>
        </li>
        <li>
          <a href="">Bebidas alcóolicas</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>