<header>
    
  <div class="logoeham">
    <div id="ham">
      <img src="/images/img-header/hamburger-icon.png" alt="">
    </div>
    <div class="logo">
      <img src="/images/img-header/logo1.jpg" alt="">
    </div>
  </div>

  <div class="container">
    <input id="pesquisa" type="text" placeholder="Buscar...">
    <div class="lupa">
      <img src="/images/img-header/lupa40.png" alt="">
    </div>
  </div>

  <div class="usuario">
    <div class="usuario-container">
      <div class="login">
        <img src="/images/img-header/usserlogin.png" alt="">
      </div>
      <div class="seta">
        <img src="/images/img-header/seta.png" alt="">
      </div>
    </div>

    <div class="carrinho">
      <img src="/images/img-header/carrinho.png" alt="">
    </div>

  </div>
</header>