<header>
  <nav>
    <div class="menu">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="nav-list">
      <li><h2 class="h2-nav">Todos os Produtos</h2></li>
      <li><a href="/produtos">Todos produtos</a></li>

      <li><h2 class="h2-nav">Bebidas</h2></li>
      <li><a href="#">Água</a></li>
      <li><a href="#">Refrigerantes</a></li>
      <li><a href="#">Sucos</a></li>
      <li><a href="#">Café</a></li>
      <li><a href="#">Bebidas Alcoólicas</a></li>

      <li><h2 class="h2-nav">Açucar e adoçante</h2></li>
      <li><a href="#">Açucar</a></li>
      <li><a href="#">Adoçante</a></li>

      <li><h2 class="h2-nav">Graõs e Cereais</h2></li>
      <li><a href="#">Arroz</a></li>
      <li><a href="#">Feijão</a></li>

      <li><h2 class="h2-nav">Farináceos</h2></li>
      <li><a href="#">Farinhas</a></li>

      <li><h2 class="h2-nav">Açougue e Peixaria</h2></li>
      <li><a href="#">Açougue</a></li>
      <li><a href="#">Peixaria</a></li>

      <li><h2 class="h2-nav">Massas</h2></li>
      <li><a href="#">Massas instantâneas</a></li>
      <li><a href="#">massas secas</a></li>

      <li><h2 class="h2-nav">Higiene Pessoal</h2></li>
      <li><a href="#">Todos produtos</a></li>

      <li><h2 class="h2-nav">Limpeza</h2></li>
      <li><a href="#">Todos produtos</a></li>

      <li><h2 class="h2-nav">Frios e lacticínios</h2></li>
      <li><a href="#">Todos produtos</a></li>

      <li><h2 class="h2-nav">Hortifruti</h2></li>
      <li><a href="#">Todos produtos</a></li>
      
    </ul>
  </nav>

  <a class="logo-container" href="/">
    <img src="/images/img-header/logo1.jpg" alt="">
  </a>

  <div class="pesquisa-container">
    <input id="input-pesquisa" name="pesquisa" type="text" placeholder="Buscar...">
    <div id="lupa">
      <img src="/images/img-header/lupa40.png" alt="">
    </div>
  </div>

  <div id="user-car">
    
    <a id="user" href="/usuarios/login"><img src="/images/img-header/usserlogin.png" alt=""></a>
    <a id="car" href=""><img src="/images/img-header/carrinho.png" alt=""></a>
    
  </div>
</header>