<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/cadastrarProduto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
  <title>Mini Market</title>
</head>
<body>

  <%- include("./partials/header")  %> 

  <main>
    <div id="form">
      <div id="title">
        <h2>Cadastro de produto</h2>
      </div>
      <div id="form-edit">
        <form action="">

            <div class="input-edit">
              <label for="name" class="form-label">Nome do produto:</label>
              <input type="text" id="name" name="name" placeholder="Ex: Óleo de Soja SOYA Garrafa 900ml  " class="form-input">
            </div>

            <div class="input-edit">
              <label for="price" class="form-label">Preço do produto:</label>
              <input type="text" id="price" name="price" placeholder="Ex:10,99 " class="form-input">
            </div>

            <div class="input-edit">
              <label for="discount" class="form-label">Desconto:</label>
              <input type="text" id="discount" name="discount" placeholder="Ex: 10" class="form-input">
            </div>

            <div class="input-edit">
              <label for="category" class="form-label">Categoria:</label>
              <select id="categoria" name="category" id="category" class="form-input">
                <option value="">Categoria aqui:</option>
                <option value="in-sale">Bebidas</option>
                <option value="in-sale">Açucar e Adoçante</option>
                <option value="in-sale">Grãos e Cereais</option>
                <option value="in-sale">Farináceos</option>
                <option value="in-sale">Açougue e Peixaria</option>
                <option value="in-sale">Massas</option>
                <option value="in-sale">Higiene Pessoal</option>
                <option value="in-sale">Limpeza</option>
                <option value="in-sale">Frios e Lacticínios</option>
                <option value="in-sale">Hortifruti</option>
              </select>        
            </div>

            <div class="input-edit">
              <label for="brand" class="form-label">Marca:</label>
              <input name="brand" id="brand" class="form-input" placeholder="Ex: Coca-Cola">
            </div>

            <div class="input-edit">
              <label for="height" class="form-label">Altura:</label>
              <input name="height" id="height" class="form-input" placeholder="Ex:">
            </div>

            <div class="input-edit">
              <label for="width" class="form-label">Largura:</label>
              <input name="width" id="width" class="form-input" placeholder="Ex:">
            </div>

            <div class="input-edit">
              <label for="weight" class="form-label">Peso liquído(KG):</label>
              <input name="weight" id="weight" class="form-input" placeholder="Ex: 1KG">
            </div>

            <div class="imagem-anexar">
              <label class="form-label" for="image">Imagem do produto:</label>
              <input class="form-input" type="file" name="image" id="image">
            </div>
            <div class="button">
              <button id="btn"type="submit">Cadastrar produto</button>  
            </div> 
        </form>
      </div>
    </div>
  </main>
  
  <script src="/javaScript/hamburger.js"></script>
</body>
</html>