<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de cadastro2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styleCadastro2.css">
  
  </head>

  <body>
   <!-- HEADER STARTS-->
   <%- include('./partials/headerCadastro')  %> 
  <!-- HEADER ENDS-->
    
  <main>
    <section>
          <div class="titulos">
                   <h1>Cadastro Mini Market</h1>
              <h3>Os campos marcados com (*) são obrigatórios.</h3>
          </div>
            <br></br>
            <br></br>
            <br></br>
          </div>
      <div class="tela-de-login">
      <form action="/registro" method="post">
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
         <label for="Telefone">Telefone*</label>
         <br></br>
          <input type="number and signs" placeholder="Telefone" required placeholder="Telefone" name="Telefone" id="Telefone" required>
          <br></br>
        <label for="CEP">CEP*</label>  
        <br></br>
        <input type="number and signs" placeholder="CEP" name="CEP" id="CEP" required>
        <br></br>
        <label for="Endereço">Endereço*</label>
          <br></br> 
        <input type="text" placeholder="Endereço" required placeholder="Endereço" name="Endereço" id="Endereço" required>
        <br></br>
        <label for="Número">Número*</label>
        <br></br>
        <input type="number and signs" placeholder="Número" required placeholder="Número" name="Número" required>
        <br></br>
        <label for="Complemento">Complemento</label>
        <br></br>
        <input type="text" placeholder="Complemento" required placeholder="Complemento" name="Complemento" id="Complemento">
        <br></br>
        <br></br>
        <label for="Senha">Senha*</label>
        <br></br>
        <input type="number and signs" placeholder="Senha" required placeholder="Senha" name="Senha" required>
        <br></br>
        <label for="Senha">Confirmar senha*</label>
        <br></br>
        <input type="number and signs" placeholder="Confirmar senha" required placeholder="Confirmar senha" name="Confirmar senha" required>
        <br></br>
        <br><strong>A sua nova senha:</strong><br>
        <ul id="lista">
          <li><span>Deve ter ao menos um número</span></li>
          <li><span>Deve ter ao menos um caractere maiúsculo</span></li>
          <li><span>Deve ter ao menos um caractere minúsculo</span></li>
        </ul>
        <p></p>
        <div id="checkbox">
            <input type="checkbox"/>Li e concordo com os <a href="link">Termos de uso</a></input>
            <p></p>
            <input type="checkbox"/>Li e concordo com a <a href="link">Política de Privacidade</a></input>
            <br></br>
        </div>
        <p></p>
        <button type="submit">Finalizar cadastro</button>
      </form>
      </div>
   </section>
    </main>
  </body>

</html
