<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styleAbout.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
  <title>Mini Market</title>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">
        <img src="images/img-about/logo1.jpg" alt="Logo">
      </a>
    </div>
  </header>
  <main>
    <section class="jumbotron">
      <div class="sobrenos">
        <h1>Sobre nós</h1>
        <p>
          "Somos um mini mercado com o simples intuito de ajudar você e a quem precisar nas horas de necessidades. Nascemos em 2022, oferencendo produtos de qualidade, ótimo atendimento e preços incríveis. E tudo isso na palma de sua mão, infelizmente só possuímos uma loja física no momento, porém, não descartamos a possibilidade de mais lojas por todo Brasil!"
        </p>
      </div>
      <div class="sobrenosimg">
       <div class="mercado"> 
        <img src="images/img-about/mercadovirtual.png" alt="imagem ilustrativa mercado virtual"></div>
      </div>
    </section>
  </main>
  <footer>
    <div class="logoecontato">
      <div class="logo">
        <a href="/">
          <img src="images/img-about/logo1.jpg" alt="Logo">
        </a>
      </div>
      <div class="endereco">
        <p>Endereço: Rua Ponta de Pedras Nº1700 
        <p>Bairro: Vila Santa Terezinha (Zona Norte)</p>
        <p>Cidade: São Paulo</p>
        <p>CEP: 02271-020</p>
           <br>
           <q>Sua necessidades, nosso compromisso</q>
        </p>
      </div>
    </div>
    <div class="contatos">
      
        <div class="whatsapp">
          <a target="_blank" href="https://api.whatsapp.com/send?phone=55119283883838&text=Seja%20bem-vindo(a)%20ao%20Mini%20Market%20virtual%2C%20como%20podemos%20ajudar%3F%20">
            <img src="images/img-about/whatsappicon.png" alt="Ícone Whatsapp">
        </div>
      
        <div class="email">
          </a>
          <a target="_blank" href="https://www.google.com/intl/pt-BR/gmail/about/"><img src="images/img-about/o-email.png" alt="">
          </a>
        </div>
      
    </div>
  </footer>
</body>
</html>