<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styleHome.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
  <title>Mini Market</title>
</head>
<body>

  <%- include("./partials/header")  %> 
  
  <main>
    <div class="aviso">
           
       <marquee behavior="" direction="">
        <div class="txt">
          <div>
            <img class="caminhao" src="images/img-home/caminhaocopia.png" alt="">
          </div>
          <p>Entregas grátis com compras acima de 100R$</p>
          <div>
            <img class="caminhao" src="images/img-home/caminhao.png" alt="">
          </div>
        </div>
       </marquee>
    
    </div>

    <div class="slideshow-container">

      <div class="mySlides fade">
        <img src="images/img-home/produtos.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="images/img-home/qualita.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="images/img-home/budweiser.jpeg" style="width:100%">
      </div>      
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <section class="conteinerprodutos">
      <div class="titulo"><h2>Ofertas</h2></div>
      <section class="produtos1">
        <section class="produto">
          <img src="images/img-home/feijão.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/cerveja.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00.00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/leite.jpeg" alt="imagem produto">
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/oleo.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/ovos.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>  
      </section>
      <div class="titulo"><h2>Mais vendidos</h2></div>
      <section class="produtos2">
        <section class="produto">
          <img src="images/img-home/papel.jpeg" alt="imagem produto">
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto" alt="images produto">
          <img src="images/img-home/SBP.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/cafe.jpeg" alt="imagem produto" >
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/detergente.jpeg" alt="imagem produto">
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
        <section class="produto">
          <img src="images/img-home/pepsi.jpeg" alt="imagem produto">
          <p class="nome">NOME PRODUTO</p>
          <p>R$00,00</p>
          <button class="botao1">Adicione ao carrinho</button> 
        </section>
      </section>
      <div class="titulo"><h2>Mais procurados</h2></div>
        <section class="produtos3">
          <section class="produto">
            <img src="images/img-home/toddy.jpeg" alt="imagem produto">
            <p class="nome">NOME PRODUTO</p>
            <p>R$00,00</p>
            <button class="botao1">Adicione ao carrinho</button> 
          </section>
          <section class="produto">
            <img src="images/img-home/creme.jpeg" alt="imagem produto">
            <p class="nome">NOME PRODUTO</p>
            <p>R$00,00</p>
            <button class="botao1">Adicione ao carrinho</button> 
          </section>
          <section class="produto">
            <img src="images/img-home/leiteninho.jpeg" alt="imagem produto">
            <p class="nome">NOME PRODUTO</p>
            <p>R$00,00</p>
            <button class="botao1">Adicione ao carrinho</button> 
          </section>
          <section class="produto">
            <img src="images/img-home/chocolate.jpeg" alt="imagem produto">
            <p class="nome">NOME PRODUTO</p>
            <p>R$00,00</p>
            <button class="botao1">Adicione ao carrinho</button> 
          </section>
          <section class="produto">
            <img src="images/img-home/suco.jpeg" alt="imagem produto">
            <p class="nome">NOME PRODUTO</p>
            <p>R$00,00</p>
            <button class="botao1">Adicione ao carrinho</button> 
          </section>
        </section>
      </section>
    </section>
 
  </main>
  
  <%- include("./partials/footer")  %> 

  <script src="/javaScript/hamburger.js"></script>
  <script src="/javaScript/carousel.js"></script>
</body>
</html>
