* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow";
}
/* HEADER START */
header {
  display: flex;
  align-items: center;
  background-color: red;
  padding: 0px 20px 0px 20px;
  gap: 3%;
  height: 15vh;
}
/* MENU START */

a {
  color: rgb(150, 143, 143);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}
a:hover {
  color: rgb(182, 12, 12);
  opacity: .8;
}
.h2-nav {
  color: #717171;
}
.h2-nav:hover {
  color: rgb(182, 12, 12);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Barlow';
  height: 10vh;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  margin: 5px 5px;
  letter-spacing: 3px;
  margin-left: 32px;
}
.menu {
  cursor: pointer;
}
.menu div {
  border-radius: 2px;
  width: 22px;
  height: 4px;
  background: #fff;
  margin: 4px;
  transition: 0.5s;
}
.nav-list {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 25vw;
  height: 85vh;
  background: white;
  flex-direction: column;
  padding: 30px 30px 30px 30px ;
  overflow-y:scroll;
  box-shadow: 0 0 1em red;
  transform: translateX(-103%);
  transition: transform 0.4s ease-in;
  z-index: 1;
}
.nav-list li {
  margin-left: 0;
  opacity: 0;
}
.menu {
  display: block;
}
.nav-list.active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu.active .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.menu.active .line2 {
  opacity: 0;
}
.menu.active .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
/* MENU END */

/* HEADER CONTINUATION */
.logo-container {
  display: flex;
  align-items: center;
  height: 90%;
  width: max-content;
  
}
.logo-container img {
  height: 90%;
}
.pesquisa-container {
  display: flex;
  align-items: center;
  width: 60%;
  height: 40%;
  border-radius: 6px;
  background-color: rgb(182, 12, 12);
}
#input-pesquisa {
  border-radius: 6px 0px 0px 6px;
  width: 85%;
  height: 100%;
  font-size: 1em;
  padding-left: 8px;
  border: 0;
  outline: 0;
}
#lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 15% ;
  border-radius: 0px 6px 6px 0px;
}
#lupa img {
  height: 80%;
  padding-left: 5px;
}
#user-car {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 20%;
  height: 100%;
}
#user {
  display: flex;
  align-items: center;
  height: 90%;
  width: 30%;
  cursor: pointer;
}
#user img {
  height: 60%;
}
#car {
 display: flex;
 align-items: center;
 height: 90%;
 width: 30%;
}
#car img {
  height: 45%;
}
/* HEADER END */

/* MAIN START */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  background-color: #f4f4f4;
}
main .aviso {
  display: flex;
  width: 100%;
  background-color: rgb(223, 223, 21)
}
.txt {
  display: flex;
  align-items: center;
}
.txt p {
  font-size: 35px;
  color: white;
  font-weight: bold;
}
.caminhao {
  height: 100px;
}
/* CAROUSEL START */
.slideshow-container {
  width: 100vw;
  max-height: 90%;
}
.prev, .next {
  margin-top: -15rem;
  cursor: pointer;
  position: absolute;  
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(219, 20, 20, 0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.actived, .dot:hover {
  background-color: #717171;
}
.fade {
  display: flex;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* CAROUSEL END */
.conteinerprodutos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
}
.titulo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.produtos1, .produtos2, .produtos3 {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.nome {
  font-size: 14px;
  background-color: gold;
  padding: 4px 6px;
  border-radius: 10px;
  color: black;
}
p {
  font-size: 15px;
}
.produto {
  width: 20%;
  border: 2px double #dd0000;
  border-radius: 10px;
  margin: 11px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: white;
}
.botao1 {
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-weight: 200px;
  background-color: #dd0000;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
  border-color: #dd0000;
  vertical-align: bottom;
  display:inline-block;
}
.conteinerprodutos img {
  height: 60%;
  width: 90%;
}
.conteinerprodutos h2 {
  font-size: 40px;
  color: #dd0000;
  margin-left: 1%;
}
/* MAIN END */

/* FOOTER START */
footer {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 30vh;
  padding-right: 20%;
}
.logo-footer {
  margin-left: 3%;
  width: 25%;
}
footer p {
  color: white;
  font-size: 20px;
  margin-left: 11%;
  text-align: left;
}
footer .media-social {
  position: relative;
  left: 29px;
  top: 20px;
  cursor: pointer;
}
footer .lista .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
}
footer .lista li, footer .lista a {
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
}
footer .lista h4 {
  color: white;
}
/* FOOTER END */
