body {
  font-family: Barlow, sans-serif;
  background-color: white;
}

.titulos {
  background-color: white;
  color: black;
  border: 10px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  padding: 0px 200px 100px 200px;
  justify-content: column;
  flex-wrap: wrap;
}

.tela-de-login{
  color: black;
  border: 50px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -35%);
  padding: 0px 200px 100px 200px;
}

h1{
  font-weight: bold;
  color: black;
  font-size: 30px;
  text-align: center;
 white-space: normal;
}

h3{
  font-weight: lighter;
  color: black;
  font-size: 15px;
  text-align: center;
}

input {
  padding: 10px 62px 10px 75px;
  text-align: center;
  left: 100%;
  align-items: center;
}

section {
margin-left: 40%;
  position: center;
}

button {
  color: white;
  font-size: 15px;
  font-weight: 900px;
  background-color: black;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 14vh;
}
header .logo {
  display: flex;
  justify-content: center;
  height: 95%;
  width: 7%;
}
header .logo img {
  height: 100%;
}
/* HEADER ENDS*/