body {
  font-family: Barlow, sans-serif;
  background-color: white;
}
.nomeProduto button{
   color: white;
  font-size: 20px;
  font-weight: 900px;
  background-color: #dd0000;
  padding: 18px;
  width: 228px;
  border-radius: 10px;
  cursor: pointer;
  border-color: #dd0000;
}

  #consultar {
    color: #dd0000;
    font-size: 20px;
    font-weight: 900px;
    background-color:white;
    padding: 5px;
    width: 228px;
    border-radius: 10px;
    cursor: pointer;
    border-color: #dd0000;
    border-style: solid;
  }

  .nomeProduto input{
    width: 55%;
    font-weight: 100px;
    color: black;
    font-size: 18px;
    text-align: left;
  }

/* HEADER STARTS */

header {
  display: flex;
  align-items: center;
  background-color: red;
  padding: 0px 20px 0px 20px;
  gap: 3%;
  height: 15vh;
}
/* MENU START */

a {
  color: rgb(150, 143, 143);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}
a:hover {
  color: rgb(182, 12, 12);
  opacity: .8;
}
.h2-nav:hover {
  color: rgb(182, 12, 12);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Barlow';
  height: 10vh;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.menu {
  cursor: pointer;
}
.menu div {
  border-radius: 2px;
  width: 22px;
  height: 4px;
  background: #fff;
  margin: 4px;
  transition: 0.5s;
}
.nav-list {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 25vw;
  height: 85vh;
  background: white;
  flex-direction: column;
  padding: 30px 30px 30px 30px ;
  gap: 5px;
  overflow-y:scroll;
  box-shadow: 0 0 1em red;
  transform: translateX(-103%);
  transition: transform 0.4s ease-in;
  z-index: 1;
}
.nav-list li {
  margin-left: 0;
  opacity: 0;
}
.menu {
  display: block;
}
.nav-list.active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu.active .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.menu.active .line2 {
  opacity: 0;
}
.menu.active .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
/* MENU END */

/* HEADER CONTINUATION */
.logo-container {
  display: flex;
  align-items: center;
  height: 90%;
  width: max-content;
  
}
.logo-container img {
  height: 90%;
}
.pesquisa-container {
  display: flex;
  align-items: center;
  width: 60%;
  height: 40%;
  border-radius: 6px;
  background-color: rgb(182, 12, 12);
}
#input-pesquisa {
  border-radius: 6px 0px 0px 6px;
  width: 85%;
  height: 100%;
  font-size: 1em;
  padding-left: 8px;
  border: 0;
  outline: 0;
}
#lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 15% ;
  border-radius: 0px 6px 6px 0px;
}
#lupa img {
  height: 80%;
  padding-left: 5px;
}
#user-car {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 20%;
  height: 100%;
}
#user {
  display: flex;
  align-items: center;
  height: 90%;
  width: 30%;
  cursor: pointer;
}
#user img {
  height: 60%;
}
#car {
 display: flex;
 align-items: center;
 height: 90%;
 width: 30%;
}
#car img {
  height: 45%;
}
/* HEADER ENDS */

#detalhesDoProduto{
  margin-top: 50px;
  margin-bottom: 0%;
  font-weight: 500px;
  color: black;
  font-size: 20px;
  text-align: center;
}
.caracteristicas-do-produto {
color: black;
font-weight: 400px;
font-size: 15px;
text-align: left;
margin-top: 0px;
}
.caracteristicas-do-produto p {
  margin-left: 10px;
}
#veja-tambem{
margin-top: 20px;
text-align: center;
font-weight: 500px;
font-size: 22px;
}
.nomeProduto{
  display:flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.nomeProduto img {
  width: 100%;
}
.nomeProduto div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 10px;
}
p {
  font-family: Barlow;
  font-size: 15px;
}
.produto {
  width: 20%;
  border: 2px double #dd0000;
  border-radius: 10px;
  margin: 11px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: white;
}
.produtos1 {
  display: flex;
}
.nome {
  font-size: 14px;
  background-color: gold;
  padding: 4px 6px;
  border-radius: 10px;
  color: black; 
}
.botao1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-weight: 200px;
  background-color: #dd0000;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
  border-color: #dd0000;
  vertical-align: bottom;
  display:inline-block;
}

/* FOOTER START */
footer {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 30vh;
  padding-right: 20%;
}
.logo-footer {
  margin-left: 3%;
  width: 25%;
}
footer p {
  color: white;
  font-size: 20px;
  margin-left: 11%;
  text-align: left;
}
footer .media-social {
  position: relative;
  left: 29px;
  top: 20px;
  cursor: pointer;
}
footer .lista .footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
}
footer .lista li, footer .lista a {
  list-style: none;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
}
footer .lista h4 {
  color: white;
}
/* FOOTER END */