/* ABRE HEADER */ 
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
<<<<<<< HEAD
<<<<<<< HEAD:public/stylesheets/styleprodutos.css
  height: 15vh;
=======
  height: 13vh;
  gap: 4%;
  padding: 0;
  margin: -8px;
  box-sizing: border-box;
>>>>>>> f2ab7bc947865e66bd07afb616be26281b45cf22:css/styleprodutos.css
=======
  height: 15vh;
>>>>>>> 7b09a5876f523494f72e232e901dec73c03b49cf
}
.logoeham {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 80%;
}
#ham, .logo {
  display: flex;
}
.logo {
  width: 45%;
  height: 100%;
}
#ham {
  justify-content: center;
  width: 37%;
  height: 35%;
}
.container {
  display: flex;
  align-items: center;
  background-color: brown;
  width: 55%;
  height: 35%;
  gap: 4%;
  border-radius: 7px;
}
#pesquisa {
  border-radius: 6px;
  border: 0;
  width: 85%;
  height: 100%;
  padding-left: 8px;
}
.lupa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 90%;
}
.lupa img {
 height: 90%;
 width: 95%
}
.usuario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 22%;
}
.login {
  display: flex;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
  
}
.login img {
  width: 4vw;
}
.seta {
  display: flex;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
}
.seta img {
  width: 2vw;
}
.usuario .carrinho {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
}
.carrinho img {
  width: 6vw;
}
.usuario-container {
  display: flex;
  align-items: center; 
}
/* FECHA HEADER*/



/* ABRE SETA */
.setinha {
  position: absolute;
  padding: 4px;
  margin-top: 3px;
  box-shadow: 2px -2px 0 1px red inset;
  border: solid transparent;
  border-width: 0 0 2px 2px;
  transform: rotate(-135deg);
}
.inlineseta {
  font-family: Barlow;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
div {
  display: inline-block;
}
/* FECHA SETA */



/* ABRE PRODUTOS */ 
.container-pai {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h2 {
  font-family: Barlow;
  color: rgba(0, 0, 0, 0.707);
  text-align: center;
}
.produto {
  border: 1px groove #dd0000;
  border-radius: 10px;
  margin: 16px 16px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 260px;
}
.botao1 {
  margin-top: 10px;
  color: white;
  font-size: 13px;
  font-weight: 200px;
  background-color: #dd0000;
  padding: 5px;
  width: 95%;
  border-radius: 10px;
  border-color: #dd0000;
  vertical-align: bottom;
  display:inline-block;
}
.preco {
  font-family: Barlow;
  font-size: 14px;
}
.nome {
  font-family: Barlow;
  font-size: 13.5px;
  background-color: gold;
  padding: 4px 6px;
  border-radius: 10px;
  color: black;
}
.imgprodutos {
  width: 140px;
  height: 140px;
}
/* FECHA PRODUTOS */

/* FOOTER START */
footer {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 30vh;
  padding-right: 20%;
}
.logo-footer {
  margin-left: 3%;
  width: 25%;
}
footer p {
  color: white;
  font-size: 20px;
  margin-left: 11%;
  text-align: left;
}
.media-social {
  position: relative;
  left: 29px;
  top: 20px;
  cursor: pointer;
}
footer .lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}
footer .lista li, footer .lista a {
  list-style: none;
  text-decoration: none;
  color: white;
}
footer .lista h4 {
  color: white;
}
/* FOOTER END */

.produto .images {
  width: 100%;
  max-height: 50%;
  
}

@media (max-width: 1024px) {
  .produto {
    max-width: 120px;
    height: 180px;
    margin: 10px;
  }
  .preco, .nome, .botao1 {
    font-size: 8px;
  }
  .inlineseta {
    font-size: 12px;
  }
  .imgprodutos {
    width: 100px;
    height: 100px;
  } 
}




@media (max-width: 280px) {
  .produto {
    max-width: 80px;
    height: 140px;
    margin: 8px;
  }
  .preco, .nome, .botao1 {
    font-size: 6.5px;
  }
  .inlineseta {
    font-size: 11px;
  }
  .imgprodutos {
    width: 60px;
    height: 60px;
  } 
}
